<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<p></p>
    
    <p><a href="/mvc/usuario/inicio">Usuarios </a></p>
    <p><a href="/mvc/producto/inicio">Producto</a></p>
    <p><a href="/mvc/carrito/inicio">Carro de Compra</a></p>
    <p><a href="/mvc/domicilio/inicio">Domicilio</a></p>
    <p><a href="/mvc/orden/inicio">Orden de Compra</a></p>
    <p><a href="/mvc/ordenDetalle/inicio">Detalle de Compra</a></p>
    <p><a href="/mvc/metodoPago/inicio">Pago</a></p>
   
    
  
    
   

</body>
</html>